body {
    font-family: fantasy,sans-serif;
    color: #394053;
    background-color:#839073;
    text-align: center;
    width: 750px;
	margin: 0 auto;
    padding: 15px;
    
}

nav li {
	display: inline;
	text-align: center;
    margin-left: 75px;
	color:#394053;
}

h1 {
    text-align: center;
}


figcaption {
    text-align: center
}



.left {
	float:left;	
	width: 300px;
	min-height: 300px;
	padding:10px;
}

.right {
	float:right;
	width: 300px;
	min-height: 300px;
	padding:10px;
}