body {
    font-family: fantasy,sans-serif;
    color: #394053;
    background-color:#839073;
    text-align: center;
    width: 750px;
	margin: 0 auto;
    padding: 5px;
    
}

nav li {
	display: inline;
	text-align: center;
    margin-left: 75px;
	
}

a {
	font-family: cursive, sans-serif;
	color: black;
	text-decoration: none;
	background-color: #4E4A59;
	text-align: center;
	padding: 1px;
}


h1 {
    text-align: center;
}


figcaption {
    text-align: center
}


.column {
	float: left;
	width: 33.33%;
	padding: 5px;
  }
  

.row::after {
content: "";
clear: both;
display: table;
}